body{
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(0, 0, 0);
    color: rgb(238, 255, 0);
}

nav{
    margin: 10px;
    display: inline-block;
    background: rgb(255, 217, 0);
    width: 100%;
    background-color: rgb(119, 111, 111);
    color: burlywood;
}

nav ul{
    list-style: none ;
    text-align: center;

}

nav li{
    display: inline-block;
    margin-left: 15px;
}

nav a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.25s;
    color: antiquewhite;
    padding-right: 100px;
}

nav img{
    width: 65px;
    height: 65px;
    float: left;
}

#iphone{
    width: 30%;
    height: 30%;
    background-color: black;
}

