.test {
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    /* transform: translate(500px, 500px); */
    /* transform: rotate(69deg) */
    margin: 200px;
    /* transform: scale(0.69,0.69); */
    /* transform: scaleX(2); */
    /* transform: scaleY(3); */
    /* transform: skewY(45deg); */
    transform: skewX(45deg);
}

.transition{
    width: 250px;
    height: 250px;
    background-color: aqua;
    transition: background 1.5s, border-radius 3s;
}

.transition:hover{
    background-color: blueviolet;
    border-radius: 75px;
}

#engineers img{
    /* transform: scale(1); */
    filter:grayscale(100%);
    transition: 3s ease-in-out;
}

#engineers:hover img{
    filter:grayscale(0);
    /* transform: scale(1.5); */
}

#hipsters:hover img{
    margin-left :30px; 
}

#shadows img{
    filter: blur(3px);
    transition: 3s ease-in-out;
}

#shadows:hover img{
    filter: blur(0);
}

#speedsters img{
    transform: scale(1);
    transition: 3s ease-in-out;
}

#speedsters:hover img{
    transform: scale(1.3);
}