.test {
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    /* transform: translate(500px, 500px); */
    /* transform: rotate(69deg) */
    margin: 200px;
    /* transform: scale(0.69,0.69); */
    /* transform: scaleX(2); */
    /* transform: scaleY(3); */
    /* transform: skewY(45deg); */
    transform: skewX(45deg);
}

.transition{
    width: 250px;
    height: 250px;
    background-color: aqua;
    transition: background 1.5s, border-radius 3s;
}

.transition:hover{
    background-color: blueviolet;
    border-radius: 75px;
}

.engineers img{
    transform: scale(1);
    transition: 3s ease-in-out;
}

.engineers:hover img{
    transform: scale(1.5);
}