h1{
       text-align: center;
    margin-bottom: 150px;
    padding: 50px;
    border: 5px solid color springgreen;
    background-color: aqua;
    
    }

    body{
        background: url(../moduli\ 11/photo2.jpg);
    }