div#div1{
    position: static;
    border: 3px solid black ;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 750px;
    top: 100px;
}
div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    top: 100px;
    right: 150px;
}

#dropdown{
    overflow:hidden ;
    background-color:blueviolet ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
#dropdown a{
    float: left;
    font-size: 16px;
    color: brown;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#nav-dropdown{
    float: left;
    overflow: hidden;
}

#dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 15px;
    background-color: inherit;
    font: inherit;
}

#dropdown a:hover, #nav-dropdown:hover{
    background-color: rgb(177, 128, 223);
}

#dropdown-contect{
    display: none;
    position: absolute;
    background-color: beige;
    width: 100%;
    box-shadow: 10px black;
}

#column{
    float: left;
    width: 50%;
    padding: 10pc;
    background-color: beige;
    height: 250px;
}

#column a{
    float: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#row::after{
    display: table;
}

#nav-dropdown:hover #dropdown-content{
    display: block;
}