.container{
    display: flex;
    background: lightblue;
}

.container div{
    margin: 10px;
    padding: 20px;
    background-color: rgb(18, 124, 218);
    font-size: 25px;
}

.container div:nth-child(1){
    flex-grow: 4;
}

.container div:nth-child(1){
    order: 3;
}

.container div:nth-child(2){
    order: 2;
}

.container div:nth-child(3){
    order: 0;
}

.container div:nth-child(4){
    order: 1;
}

.container2{
    display: flex;
    background: lightblue;
    flex-direction: column-reverse;
}

.container2 div{
    margin: 10px;
    padding: 20px;
    background-color: rgb(18, 124, 218);
    font-size: 25px;
}

.container3 div{
    margin: 10px;
    padding: 20px;
    background-color: rgb(18, 124, 218);
    font-size: 25px;
}

.container3{
    display: flex;
    background: lightblue;
    flex-direction: space-between;
    justify-content: flex-start;
    
}

.container4{
    display: flex;
    background: lightblue;
    flex-direction: space-between;
    justify-content: flex-end;
    height: 200px;
}

.container3 div{
    margin: 10px;
    padding: 20px;
    background-color: rgb(18, 124, 218);
    font-size: 25px;
    height: 50px;
}

.container div:nth-child(2){
    align-self: flex-end;
}

/* align-items: stretch, flex-start, flex-end, center */

.container5{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    height: 200px;
    align-items: stretch;
}

.container5 div{
    background-color: beige;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* align-content: flex-start, flex-end, center, space-between, space-around, stretch  */

.container6 {
    display: flex;
    background: aquamarine;
    flex-direction: row;
    align-content: stretch;
    align-items: wrap;
    height: 800px;
}

.container6 div{
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 400px;
    height: 200px;
}